* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
  background-color: #f3c77c;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #f3c77c;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page1 h1 {
  font-size: 200px;
}

#page2 {
  height: 100vh;
  width: 100vw;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  clip-path: inset(100% 0 0 0);
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1001;
  background-color: transparent;
}

nav {
  height: 90px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav #logo {
  height: 60px;
  width: 60px;
  background-color: transparent;
  color: #f1cd8e;
  margin-left: 10px;
  border-radius: 10px;
}

#opt a {
  text-decoration: none;
  color: #f3c77c;
  font-size: 20px;
  font-weight: bolder;
}
#opt {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
#hello {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 80px;
}
#hello h1 {
  color: #ebc481;
  font-size: 37vw;
  font-weight: 900;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: inline-block;
}
.footer {
  position: fixed;
  bottom: 40px;
  left: 10px;
  width: 100%;
  background-color: black;
  z-index: 1000;
  opacity: 0;
}
.footer p {
  color: #f1cd8e;
  font-size: 20px;
  margin-bottom: 20px;
}
#b1,
#b2,
#b3 {
  border-radius: 20px;
  border-color: #ebc481;
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: white;
}
#b1:hover,
#b2:hover,
#b3:hover {
  color: #111;
  font-weight: bolder;
  font-size: 15px;
  background-color: #efd3a1;
  transition: 0.4s ease-in-out;
}

#page3 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: none;
  position: relative;
  z-index: 1;
}
#page3 .slogun {
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page3 h1 {
  color: #efd3a1;
  font-size: 30px;
}
